@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 
}

@media (prefers-color-scheme: dark) {
  
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #1a1a1a;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
